* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0b2434;
  padding: 1.25em;
  font-family: Karla, sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions {
  width: 50%;
  text-align: center;
  font-weight: light;
  margin-top: 1em;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 0.4em;
  max-width: 50em;
  height: 30em;
  margin-top: 2em;
}

.die {
  background-color: #fff;
  font-weight: bold;
  font-size: 1.29rem;
  color: #2b283a;
  width: 3.125em;
  height: 3.125em;
  box-shadow: 0 0.125em rgba(0, 0, 0, 0.15);
  border-radius: 0.3125em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 1.25em;
  margin-top: 2em;
}

.roll-button {
  margin-top: 1.75em;
  margin-bottom: 1em;
  width: 9.76em;
  height: 3.24em;
  font-size: 1.2rem;
  color: #fff;
  background-color: #5035ff;
  border-radius: 0.3em;
  border: none;
  cursor: pointer;
}

.roll-button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

@media (max-width: 485px) {
  .dice-container {
    grid-template: repeat(5, 1fr) / repeat(2, 1fr);
  }

  main {
    height: 100%;
    margin-top: 0;
  }
}
